* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body {
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: clamp(375px, 80%, 1440px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code-card {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 1rem 1rem 40px 1rem;
  box-shadow: 0px 5px 8px rgba(104, 119, 141, 0.3);
}

.qr-img {
  width: 288px;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 288px;
  gap: 1rem;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: #1f314f;
}

.card-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
  padding: 0 17px ;
}
